<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<parameter name="execution" value="${execution}"></parameter>
	<parameter name="browser" value="${browser}"></parameter>
	<parameter name="group" value="${group}"></parameter>
	<parameter name="env" value="${env}"></parameter>
	
  <test thread-count="5" name="Test">
	
	<classes>
		<class name="TestCases.TestCase01"></class>
		<class name="TestCases.TestCase02"></class>
	</classes>
		
  </test> <!-- Test -->
</suite> <!-- Suite -->
